opencv-python~=4.5.4.58
pytesseract~=0.3.2
imutils~=0.5.4
future~=0.18.2
numpy~=1.18.5
joblib~=1.1.0
scikit-learn~=1.0.1
pandas~=1.3.4
h5py~=2.10.0
matplotlib~=3.4.3
keras~=2.6.0
Pillow~=8.4.0
tensorflow~=1.15.5
idx2numpy~=1.2.3
scipy~=1.7.1